/* client/src/pages/MitarbeiterVerwaltung/MitarbeiterVerwaltung.module.css */

.container {
    padding: 2rem;
}

.searchInput {
    width: 300px;
}

.tableWrapper {
    overflow-x: auto; /* Sorgt für horizontales Scrollen auf kleinen Bildschirmen */
}
