<div class="card" onclick="location.href='/erstellen'">
    <h3>Schichtplan erstellen</h3>
    <p>Beschreibung Schichtplan erstellen. TBD</p>
</div>
<div class="card" onclick="location.href='/bearbeiten'">
    <h3>Schichtplan bearbeiten</h3>
    <p>Beschreibung Schichtplan bearbeiten. TBD</p>
</div>
<div class="card" onclick="location.href='/limitationen'">
    <h3>Schichtregeln bearbeiten</h3>
    <p>Beschreibung Regeln bearbeiten. TBD</p>
</div>
<div class="card" onclick="location.href='/mitarbeiter'">
    <h3>Mitarbeiterliste betrachten</h3>
    <p>Beschreibung Mitarbeiterliste. TBD</p>
</div>
<div class="card" onclick="location.href='/schichtplan'">
    <h3>Schichtplan betrachten</h3>
    <p>Beschreibung Schichtplan. TBD</p>
</div>
