<div class="page-wrapper">
    <h1>Aktuelle Schicht-Regeln</h1> </br>

  <div class="header-row">
	<div class="add-rule-wrapper">
		<input type="text" id="new-rule-input" placeholder="Neue Regel eingeben" />
		<button onclick="addRule()">➕ Regel hinzufügen</button>
	</div>
  </div>

  <div class="main-content">
    <ul id="rules-list"></ul>
  </div>

</div>

<script src="/js/rules.js"></script>
