.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 20px;     
  width: 100%;
  box-sizing: border-box;
}
.navbar a {
    color: #444444;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-size: large;
}
.navbar a:hover {
    background-color: #ee7203;
    color: #fff;
}
.navbar .active {
    background-color: #ee7203;
    color: #fff;
}